* {
  font-size: 12px;
}
h1 {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid black;
  display: block;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: 1.2em;
  width: 60%;
}
h2 {
  font-size: 1.6em;
}
p {
  font-size: 1.2em;
}
img {
  display: block;
  width: 96px;
  margin: 0 auto;
}
